.sectionone{
    height: 70vh;
    background-color: rgb(5, 112, 193);
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(125, 222, 214);
}

#btn-nav{
    color: white;
    padding:6px;
    border: 1px solid rgb(10, 195, 216);
    border-radius: 15px;
}

#btn-nav:hover{
    background-color: rgb(10, 195, 216);
}

#firstsecp{
    color: white;
}

#btn-secone{
    color: white;
    padding:16px;
    border: 1px solid white;
    border-radius: 25px 45px;
    transition:0.5s
}

#btn-secone:hover{
    border-radius: 65px 25px;
    background-color: rgb(71, 190, 241);
}

#firstsecp{
    color: white;
    opacity: 0.7;
}

.pic1{
    background-image: url("why-us.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 480px;
    height: 480px;
    position: relative;
    animation: pic1 1.5s ease-in-out infinite alternate-reverse both;
}

@keyframes pic1 {
    from {top: 25px;}
    to {top: 0px;}
  }

.sectiontwo{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh
}
  

.device-wrapper{
    width: 100%;
    max-width: 17rem;
}

.device{
    position: relative;
    background-size: cover;
    background-image: url("portrait_black.png");
    padding-bottom: 198.898071625%;
    z-index: 10;
}

.screen{
    top: 3.0855955679%;
    left: 6.8870523416%;
    width: 86.2258953168%;
    height: 93.6288088643%;
    position: absolute;
    background-size: cover;
    pointer-events: auto;
    border-radius:15px;
    z-index: 10;
}

#sectwoleft{
    display: flex;
    justify-content: center;
}

.circle{
    width: 400px;
    height:400px;
    border-radius: 100%;
    background-color: rgb(5, 112, 193);
    position: absolute;
    margin-top: 75px;
    z-index: 0;
}

.googleplay{
    width: 350px;
    height: 50px;
    background-image: url("Capture.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 50px;
}

#rightcol{
    margin-top:120px
}

.sectionfour{
    background-color: rgb(248,249,250);
    margin-top: 20px;
}


#portfolio{
    max-width: 26rem;
    margin-left: auto;
    margin-right: auto;
}

#firstseries{
    width: 100%;
}

#contain:hover{

    background-color: linear-gradient( rgba(244, 98, 58, 0.9) 0%, rgba(244, 98, 58, 0.9));
    transition: 0.3s;
    color: white;
    display: block;
}

#first-button{
    padding: 1.25rem 2.5rem; 
    font-size: 1.125rem;
    font-weight: 700; 
    background-color: #ffc800; 
    color: white; 
    border-radius: 0.25rem; 
}

#first-button:hover{
    background-color:#FFB72B;
}


.test-photo{
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

#picdiv{
    max-width: 26rem;
    height: 306px;
    background-image: url("p.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#picdiv:hover{
    background: linear-gradient( rgba(255, 200, 0, 0.9) 0%, rgba(255, 200, 0, 0.9)), url("./6.jpg");
    transition: 0.3s;
    background-position: center;
    display: block;
}

#picdiv2{
    max-width: 26rem;
    height: 306px;
    background-image: url("5.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#picdiv2:hover{
    background: linear-gradient( rgba(255, 200, 0, 0.9) 0%, rgba(255, 200, 0, 0.9)), url("./5.jpg");
    transition: 0.3s;
    background-position: center;
    display: block;
}
#picdiv3{
    max-width: 26rem;
    height: 306px;
    background-image: url("w.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#picdiv3:hover{
    background: linear-gradient( rgba(255, 200, 0, 0.9) 0%, rgba(255, 200, 0, 0.9)), url("./4.jpg");
    transition: 0.3s;
    background-position: center;
    display: block;
}
#picdiv4{
    max-width: 26rem;
    height: 306px;
    background-image: url("aa.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#picdiv4:hover{
    background: linear-gradient( rgba(255, 200, 0, 0.9) 0%, rgba(255, 200, 0, 0.9)), url("./aa.jpg");
    transition: 0.3s;
    background-position: center;
    display: block;
}
#picdiv5{
    max-width: 26rem;
    height: 306px;
    background-image: url("pp.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#picdiv5:hover{
    background: linear-gradient( rgba(255, 200, 0, 0.9) 0%, rgba(255, 200, 0, 0.9)), url("./xx.jpg");
    transition: 0.3s;
    background-position: center;
    display: block;
}
#picdiv6{
    max-width: 26rem;
    height: 306px;
    background-image: url("e.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#picdiv6:hover{
    background: linear-gradient( rgba(255, 200, 0, 0.9) 0%, rgba(255, 200, 0, 0.9)), url("./ss.jpg");
    transition: 0.3s;
    background-position: center;
    display: block;
}

.sectionfive{
    height:80vh;
    display: flex;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(53, 47, 220);
}

.techpic{
    width: 600px;
    height:600px;
    background-image: url("hero-img.png");
    background-position: center;
    background-size: cover;
    position: relative;
    animation: pic2 1.5s ease-in-out infinite alternate-reverse both;
}

@keyframes pic2 {
    from {top: 25px;}
    to {top: 0px;}
  }

.teamsection{
    height:70vh;

}

.member{
    height:400px;
    width: 320px;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(209,209,209,1);
-moz-box-shadow: 0px 0px 11px 4px rgba(209,209,209,1);
box-shadow: 0px 0px 11px 4px rgba(209,209,209,1);
    margin-top: 21px;
    border-radius: 11px;
}

.memberpic{
    width: 100%;
    height: 320px;
    background-image: url("man3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
}
.memberpictwo{
    width: 100%;
    height: 320px;
    background-image: url("man2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
}
.memberpicthree{
    width: 100%;
    height: 320px;
    background-image: url("wom1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
}
.memberpicfour{
    width: 100%;
    height: 320px;
    background-image: url("wom2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: end;
    justify-content: center;
}

.icondiv{
    width: 20px;
    height: 20px;
    background-color:turquoise;
    padding:20px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 100%;
    margin-bottom:10px;
    color:white;
}

